h2 {
    color: darkslategray;
    font-size: medium;
    text-decoration: underline;
}

p {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: small;
}

.div {
    width: 300px;
    height: 100px;
    background-color: aqua;
    color: maroon;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}